/*reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,input,selefct,textarea {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;background: transparent;}
body {font-family:"microsoft yahei","simhei","tahoma";font-weight:normal;text-align:center;}
ol, ul {list-style: none;}
em, i, u {font-style: normal;}
a { text-decoration: none;}
a:hover {text-decoration: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ”;content: none;}
.clearfix:after {content: ".";display: block;height: 0;font-size: 0;clear: both;visibility: hidden;}
.clearfix {zoom:1;}
/* remember to define focus styles! */
/* a:focus {outline:2px solid rgba(113,255,90,1);} */
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need ‘cellspacing=”0″‘ in the markup */
table {border-collapse: collapse;border-spacing: 0;}
img {display:inline-block;}
.r {float: right;}
.l {float:left;}
/* html {font-size: calc(100vw/19.2);} */
.w1760 {width:1760px;margin:0 auto;text-align:left;position:relative;}
body {width:100%;background:#020f34 url(../images/bg.png) repeat-y center top;}
.wrap {width: 100%;font-size: 0;}
.titbar {height:130px;}
.titbar .logo,.titbar .mainnav,.titbar .top_toolbox {position: absolute;}
.titbar .logo {left:0;top:30px;width:198px;height:67px;}
.titbar .logo img {width:198px;height:67px;}
.mainnav {left:218px;top:32px;}
.titbar .mainnav ul li {display: inline-block;margin: 0 10px;}
.titbar .mainnav ul li a {padding:0 20px;height:60px;line-height:60px;color:#fff;font-size:32px;text-align: center;font-weight: lighter;display: block;}
/* .titbar .mainnav ul li a:focus {padding:0 0.2rem;height:0.6rem;line-height:0.6rem;border-radius:0.3rem;background-color: rgba(22,158,0,0.5);box-shadow:0rem 0rem 0.08rem 0.02rem rgba(113,255,90,1);outline: 0;} */
.titbar .mainnav ul li a.current {padding:0 20px;height:60px;line-height:60px;background:rgba(6,153,34,1);border-radius:30px;}
.titbar .top_toolbox {right:0;top:37px;}
.titbar .top_toolbox img {display: inline-block; vertical-align: middle;}
.titbar .top_toolbox li {display: inline-block; vertical-align: middle;}
.titbar .top_toolbox li a {display:block;}
/* .titbar .top_toolbox li a:focus {outline: 0;background-color: rgba(22,158,0,0.5);box-shadow:0rem 0rem 0.08rem 0.02rem rgba(113,255,90,1);} */

.titbar .top_toolbox .btn_search,.titbar .top_toolbox .btn_getvip {height:50px;line-height:50px;background-color:rgba(255,255,255,0.1);border-radius:25px;color:#fff;font-weight: lighter;font-size:22px;padding: 10px 20px;}
.btn_login {width:36px;height:36px;border-radius:18px;}
.titbar .top_toolbox .btn_search img,.titbar .top_toolbox .btn_getvip img {margin-right:10px;}
.titbar .top_toolbox .btn_search {margin-right: 25px;}
.titbar .top_toolbox .btn_search img {width: 22px;height:22px;}
.titbar .top_toolbox .btn_getvip {margin-left: 25px;}
.titbar .top_toolbox .btn_getvip img {width: 31px;height:27px;}
.titbar .top_toolbox .btn_login img {width:36px;height:36px;margin-top: -10px}

#zSlider {margin:0px auto 60px;width:1760px;text-align: left;}
#picshow {width:1140px;height:565px;float:left;}
#picshow_img {width:1140px;height:565px;float:left;}
#picshow_img li {width:1140px;height:565px;float:left;display:none;}
#picshow_img li a {display: block; overflow: hidden;width:1140px;height:565px;}
#picshow_img img {width:1140px;height:490px;display: block;}
#picshow_img li h3 {background:#00082B;height:75px;line-height:75px;color:#fff;text-indent: 20px;font-size:24px;font-weight: lighter;}

#select_btn {width:580px;height:565px;color:#fff;float:right;}
#select_btn li {width:580px;margin-bottom:3px;background:#233154;text-indent:30px;}
#select_btn li:last-child {margin-bottom: 0;}
#select_btn a {color:#fff;font-size:33px;font-weight: lighter;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width:580px;height:139px;line-height:139px;display: block;background:#233154;}
/* #select_btn li a:focus {transform: scale(1.02);z-index:9999;} */
#select_btn li.current a{background:rgba(22,158,0,1);color: #fff;}


.tjbox h2,.tjbox_3 h2,.tjbox_2 h2,.tjbox_4 h2,.keshicate h2 {font-size:44px; font-weight: bold;color:#fff;margin-bottom:44px;}
.tjbox ul,.tjbox_2 ul,.tjbox_4 ul,.keshicate ul {width:1800px;}
.tjbox_3 ul {width:1530px;}
.tjbox ul li {float:left;width:410px;margin-right:40px;margin-bottom: 40px;}
.tjbox_2 ul li {float:left;width:860px;margin-right:40px;margin-bottom:40px;}
.tjbox_3 ul li {float:left;width:470px;margin-right:40px;margin-bottom:40;}
.tjbox ul li img {width:410px;height:230px;display: block;}
.tjbox_2 ul li img {width:860px;height:490px;display: block;}
.tjbox_3 ul li img {width:470px;height:265px;display: block;}
.tjbox ul li a,.tjbox_2 ul li a,.tjbox_3 ul li a {display:block;position: relative;}
.viptips {position: absolute;right:0;top:0;height:35px;width:65px;text-align: center;line-height:35px;color:#fff;font-size:20px;font-weight: bold;background:#AB1717;}
.catetips {position: absolute;left:0;bottom:78px;text-align: center;color:#fff;font-size:25px;background:url(../images/tips_bg_opa.png) repeat 0 0;width:120px;height:40px;line-height: 40px;font-size:25px;}
.tjbox ul li h4,.tjbox_2 ul li h4,.tjbox_3 ul li h4  {color:#fff;font-size:24px;text-indent:17px;height:80px; line-height:80px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;background: #00082B;display: block;font-weight: normal;}
.morebox {width:230px;height:345px; text-align: center;}
.morebox a {background:rgba(255,255,255,0.1);display: block;width:230px;height:345px;position: relative;}
.morebox a img {margin:100px auto 0;width:68px;height:68px;}
.morebox span {display:block;height:80px; line-height: 80px;color:#fff;font-size:24px;background:rgba(255,255,255,0.05);position: absolute;bottom:0;left:0;width:230px;}
/* .tjbox ul li a:focus,.tjbox_3 ul li a:focus {transform: scale(1.1);z-index:9999;position: relative;} */
/* .tjbox ul li a:focus {overflow: hidden;} */
.tjbox_4 ul li {float:left;margin-right:40px;margin-bottom: 40px;}
.tjbox_4 ul li a {width:560px;display: block;background:rgba(255,255,255,0.1);font-weight: lighter;font-size:47px;text-align: center;line-height: 150px;color:#fff;}
/* .tjbox_4 ul li a:focus {transform: scale(1.1);z-index:9999;position: relative;background:#169E00;font-size:0.47rem;color:#fff;} */

.play {margin-bottom:60px;}
.playbox {width:890px;height:500px;background: #233154;}
.playinfo {width: 820px; position: relative;height:500px;}
.playinfo .playtext dt {font-weight: bold;font-size:44px;line-height: 33px;margin-bottom: 28.4px;color:#fff;}
.playinfo .playtext dd {font-size:22px;line-height: 40px;color:#fff;}
.playtoolbar {position: absolute;bottom:0;left:0;}
.playtoolbar li {float:left;margin-right:30px;}
.playtoolbar li a {width:140px;height:130px;background:rgba(255,255,255,0.1);display: block;text-align: center;color:#fff;}
.playtoolbar li a img {margin:20px auto 15px;}
.playtoolbar li a span {display: block;font-size:25px;}
.playtoolbar li a.collected {background:#169E00;}

/* 本例子css */
.tab {margin-bottom:60px;}
.picScroll_left .prev a,.picScroll_left .next a { display:block;  width:28px; height:54px;margin-top:180px;  overflow:hidden;cursor:pointer;}
.picScroll_left .prev {float:left;}
.picScroll_left .next {float:right;}
.picScroll_left .tabpage { float:left; margin-top:10px; zoom:1;margin-left:59px;}
.picScroll_left .tabpage li { float:left;margin-right:20px;cursor:pointer;font-size:40px;width: 200px;text-align: center;}
.picScroll_left .tabpage li a {color:#fff;padding:0 20px;height:50px;line-height:50px;border-radius:25px;color:#fff;}
.picScroll_left .tabpage li.current a {padding:0 20px;height:50px;line-height:50px;background:rgba(6,153,34,1);border-radius:25px;color:#fff;}
/* .picScroll_left .tabpage li a:focus {outline: 0;background-color: rgba(22,158,0,0.5);box-shadow:0rem 0rem 0.08rem 0.02rem rgba(113,255,90,1);} */
/* .picScroll_left .tabpage li.current a:focus {outline: 0;background-color: rgba(6,153,34,1);box-shadow:0rem 0rem 0.08rem 0.02rem rgba(113,255,90,1);} */
.picScroll_left .picList {float:left;margin-left: 65px;width: 1665px;}
.picScroll_left .picList ul {}
.picScroll_left .picList ul li { margin:0 35px 30px 0; float:left;width:520px;height:190px;}
.picScroll_left .picList ul li .pic {display:block;background:rgba(255,255,255,0.1);width:520px;height:190px;}
.picScroll_left .picList ul li .pic:focus {transform: scale(1.1);z-index:9999;position: relative;}
.picScroll_left .picList ul li .pic img { width:250px; height:140px; display:block;float:left;margin:24px 0 0 24px;}
.picScroll_left .picList ul li .title { line-height:24px;font-size:25px;color:#fff;float:left;font-weight: normal;margin:54px 0 0 20px;width: 210px;line-height: 30px;}
.tab h2 {font-size:44px; font-weight: bold;color:#fff;margin-bottom:40px;}

.keshicate ul li {float:left;width:260px;height:260px;margin-right:40px;margin-bottom: 40px; text-align: center;}
.keshicate ul li a {width:260px;height:260px;background: rgba(255,255,255,0.1);display:block;overflow: hidden;}
.keshicate ul li img {width:88px;height:88px;display: block;margin: 40px auto;}
.keshicate ul li a span {display: block;color:#fff; font-size:24px;}
/* .keshicate ul li a:focus {background: rgba(22, 158,0,1);} */

.tjbox ul li.on {width:410px;margin-right:40px;margin-bottom: 40px;height:310px; text-align: center; background: #169E00;}
.tjbox ul li.on img {width:88px;height:88px;display: block;margin: 60px auto 40px;}
.tjbox ul li.on span {display: block;color:#fff; font-size:30px;}